<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandi's Portfolio - About Me</title>
    <meta name="description" content="About me section of Sandi Junker's portfolio webpage">
    <meta name="keywords"
        content="Mobile Developer, Web Developer, Software Developer, Mobile Programmer, Web Programmer, Software Programmer">
    <meta name="author" content="Sandi Junker">
    <link rel='stylesheet' href='/stylesheets/portfolio.css' />
</head>

<body>
    <header>
        <%- include ("./partials/header") -%>
            <h1>About Me</h1>
    </header>

    <main>
        <section>
            <img id="headshot" src="../images/headshot.webp" alt="A photograph of Sandi junker" />

            <div id="skills">
                <h2>Skills</h2>
                <ul>
                    <li>Web development: HTML/CSS, JS, Node.js</li>
                    <li>iOS develoment: Swift/SwiftUI, Canvas, SpriteKit</li>
                    <li>Database development: SQL, mySQL, Firestore Firebase, Oracle</li>
                    <li>Other languages: C++, C#, Python, Java</li>
                    <li>Other skills: 3D Graphics and Adobe Animate</li>
                </ul>
            </div>

            <div id="interests">
                <h2>Interests</h2>
                <ul>
                    <li>iOS Mobile Development</li>
                    <li>Game Development</li>
                    <li>2D/3D Graphics and Animation</li>
                    <li>Music Composition</li>
                </ul>
            </div>
        </section>

        <section>
            <h2 id="current-h2">Current Projects</h2>
            <article class="projects-list">
            </article>
        </section>

        <section>
            <h2 id="education-h2">Education</h2>
            <div>
                <h3>Brigham Young University - Idaho</h3>
                <p class="degree">Bachelor's Degree - Software Development</p>
                <p class="degree-date">Current</p>
                <p class="degree-content">Studies include Python, HTML, CSS, Javascript, Firebase, mySQL/SQL, C#, Swift
                    and SwiftUI, Node.js
                </p>
            </div>
            <div>
                <h3>Penn Foster Group</h3>
                <p class="degree">Associates Degree - Computer Information Systems</p>
                <p class="degree-date">July 2021</p>
                <p class="degree-content">Studies include Java, Visual Basic, HTML, CSS, Database Development and
                    Design, Adobe Animate,
                    Internet Security, and
                    Mathematics</p>
            </div>
        </section>
    </main>

    <footer>
        <%- include ("./partials/footer") -%>
    </footer>
    <script src="javascripts/about-me.js" type="module"></script>
</body>

</html>