<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandi's Portfolio - About Me</title>
    <meta name="description" content="About me section of Sandi Junker's portfolio webpage">
    <meta name="keywords"
        content="Mobile Developer, Web Developer, Software Developer, Mobile Programmer, Web Programmer, Software Programmer">
    <meta name="author" content="Sandi Junker">
    <link rel="stylesheet" href="/stylesheets/portfolio.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about-me">About Me</a>
            <a href="/projects-list">Projects</a>
        </nav>
        <h1>About Me</h1>
    </header>

    <main>
        <section>
            <img src="" alt="A photograph of Sandi junker" />

            <div id="skills">
                <h2>Skills</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi incidunt blanditiis vel, vero
                    veritatis ipsa magnam amet quis repellendus aliquam deleniti architecto maiores reiciendis eaque
                    esse aperiam nesciunt fuga ipsum.</p>
            </div>

            <div id="interests">
                <h2>Interests</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi incidunt blanditiis vel, vero
                    veritatis ipsa
                    magnam amet quis repellendus aliquam deleniti architecto maiores reiciendis eaque esse aperiam
                    nesciunt fuga
                    ipsum.</p>
            </div>
        </section>

        <section>
            <h2>Current Projects</h2>

            <div class="projects-list">
                <!--<figure>
                    <img class="project-img" src="" alt="">
                    <figcaption class="project-caption"></figcaption>
                </figure>-->
            </div>
        </section>

        <section>
            <h2>Education</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem id explicabo dignissimos! Fuga, quae
                pariatur. Vitae veritatis quis nulla saepe dignissimos ratione amet, quod, eum ad, numquam natus
                perferendis suscipit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat corrupti quidem tempora quae,
                laboriosam inventore delectus. Animi voluptate quas illo, adipisci, vitae molestias dolorem modi eius
                nulla architecto possimus impedit!</p>
        </section>
    </main>

    <footer>
        <p>Sandi Junker ©2024</p>
        <p id="date"></p>
        <p><a href="/contact">Contact Us</a></p>
    </footer>
</body>

</html>