<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sandi's Portfolio - Home</title>
  <meta name="description" content="The homepage for the portfolio of Sandi Junker's programming projects">
  <meta name="keywords"
    content="Mobile Developer, Web Developer, Software Developer, Mobile Programmer, Web Programmer, Software Programmer">
  <meta name="author" content="Sandi Junker">
  <link rel='stylesheet' href='/stylesheets/portfolio.css' />
</head>

<body>
  <header>
    <%- include ("./partials/header") -%>
  </header>

  <main>
    <article id="hero">
      <h1 id="hero-h1">Sandi's Portfolio</h1>
      <img src="images/hero-large.webp" alt="Close up of a keyboard" />
    </article>

    <section>
      <h2>Project Spotlight</h2>
      <article class="projects-list">
      </article>
    </section>

  </main>

  <footer>
    <%- include ("./partials/footer") -%>
  </footer>
  <script src="javascripts/home.js" type="module"></script>
</body>

</html>