<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandi's Portfolio - Project Details</title>
    <meta name="description" content="The project details page in the portfolio of Sandi Junker's programming projects">
    <meta name="keywords"
        content="Mobile Developer, Web Developer, Software Developer, Mobile Programmer, Web Programmer, Software Programmer">
    <meta name="author" content="Sandi Junker">
    <link rel="stylesheet" href="/stylesheets/portfolio.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about-me">About Me</a>
            <a href="/projects-list">Projects</a>
        </nav>
        <h1 id="project-name">Project Name</h1>
    </header>

    <main>
        <section>
            <iframe id="project-video"></iframe>
            <div>
                <p>Date Completed: <span id="project-date-completed"></span></p>
                <a id="project-github-link" href="">Github Repository</a>
            </div>
            <div>
                <h2>Description</h2>
                <p id="project-description"></p>
            </div>
        </section>

    </main>

    <footer>
        <p>Sandi Junker ©2024</p>
        <p id="date"></p>
        <p><a href="/contact">Contact Us</a></p>
    </footer>
</body>

</html>