body {
    display: block;
    max-width: 1440px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 10vh;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    background-color: azure;
}

nav a,
nav a:visited,
footer a,
footer a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover,
footer a:hover {
    color: green;
}

h1 {
    font-size: 7vw;
    margin-left: 1rem;
}

h2 {
    font-size: 6vw;
    margin-left: 1rem;
}

p,
a {
    font-size: 4vh;
}

#hero {
    position: relative;
}

#hero h1 {
    position: absolute;
    top: 2rem;
    left: 1rem;
    background-color: rgba(240, 255, 255, 0.295);
    border-radius: 1rem;
    padding: .5rem;
}

#hero img {
    height: auto;
    width: 100%;
}

.projects-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-img {
    float: left;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10vh;
    background-color: azure;
}