body {
    display: block;
    max-width: 1440px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 10vh;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    background-color: azure;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover,
footer a:hover {
    color: green;
}

h1 {
    font-size: 4rem;
    margin-left: 1rem;
}

h2 {
    font-size: 3rem;
    margin-left: 1rem;
}

p,
a {
    font-size: 1.5rem;
}

section,
menu {
    display: flex;
}

section {
    margin: 2rem;
}

menu {
    flex-wrap: none;
    list-style: none;
    justify-content: space-evenly;
    border-radius: 10px 10px 0 0;
    background-color: burlywood;
    margin-left: 5rem;
    margin-right: 5rem;
}

menu li button {
    border: none;
    background-color: burlywood;
    padding: 10px;
}

menu li button:hover {
    color: green;
}

#hero {
    position: relative;
}

#hero h1 {
    position: absolute;
    top: 2rem;
    left: 1rem;
    background-color: rgba(240, 255, 255, 0.295);
    border-radius: 1rem;
    padding: .5rem;
}

#hero img {
    height: auto;
    width: 100%;
}

#headshot {
    margin: 2rem;
}

.projects-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project-img,
#headshot {
    float: left;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 0 rgb(68, 111, 111);
}

.project-img:hover {
    box-shadow: 5px 5px 10px 0 rgb(111, 68, 68);
}

figcaption {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 50%;
    justify-content: space-around;
}

form label {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

textarea {
    margin-bottom: 1rem;
}

input {
    padding: .5rem;
}

iframe {
    width: 30%;
    height: auto;
    margin: 1rem;
}

#details {
    margin: 1rem;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10vh;
    background-color: azure;
}